@keyframes skale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

link {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* container */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 24px 0px;
}

/* section-tittle */
.section-tittle {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* main for business */
.mainbusiness {
  display: flex;
}
.mainbusiness .item {
  width: 270px;
  margin-right: 30px;
}
.mainbusiness .item:last-child {
  margin-right: 0;
}
.mainbusiness .tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mainbusiness p {
  margin-top: 10px;
  margin-bottom: 0;
}

.mainbusiness .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* aboutus */
.about {
  padding-top: 0;
}
.aboutus {
  display: flex;
}
.aboutus .item {
  margin-right: 30px;
}
.aboutus .item:last-child {
  margin-right: 0;
}

.aboutus-tittle {
  position: relative;
}
.aboutus-tittle-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

/* our team */
.ourteam {
  display: flex;
}

.ourteam .item {
  margin-right: 30px;
}
.ourteam .item:last-child {
  margin-right: 0;
}

.ourteam .tittle {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.ourteam .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.team {
  background-color: #f5f4fa;
}
.ourteam .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px transparent;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.socials-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socials-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials-item:last-child {
  margin-right: 0px;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: #ffffff;
}
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section clients */
.clients-list {
  display: flex;
}
.clients-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.clients-item:last-child {
  margin-right: 0px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
/* footer */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .logocolor {
  color: #ffffff;
}
.footer-link,
.footer-map {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map {
  color: #ffffff;
}

.footer-map:hover,
.footer-link:hover {
  color: var(--accent-color);
}

.footer-map:focus,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
}
.footer-list .item {
  margin-top: 9px;
}

.footer-list .item:first-child {
  margin-top: 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.footer-socials {
  margin-top: 20px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}
.footer-socials .social-icon {
  fill: #ffffff;
}
.footer-tittle {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: bold;
}

/* Footer-signup */

.footer-sign {
  margin-left: auto;
}

.sign-field {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sign-field input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input {
  color: #ffffff;
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  border-color: #ffffff;
}

.footer-input:focus::placeholder {
  color: #ffffff;
}

.sign-button {
  display: flex;
  padding: 10px 28px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: bold;
  color: var(--button-color);
  background-color: #2196f3;
  cursor: pointer;
}

.sign-button-icon {
  display: block;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-auth .item + .item {
  margin-left: 50px;
}
.header-auth {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
  padding: 32px 0px;
}

.header .logocolor {
  color: #000000;
}
.header-contacts {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.site-nav {
  display: inline-flex;
}
.site-nav .site-nav-item + .site-nav-item {
  margin-left: 50px;
}
.site-nav-item {
  position: relative;
}
.site-nav-item .current::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/icons.svg/headerimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.cards .text {
  color: var(--primary-text-color);
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.03em;
}
.cards .content {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.filters .button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 70px;
  border: 1px transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filters .item {
  margin-right: 8px;
}
.filters .item:last-child {
  margin-right: 0;
}
.filters .button:hover,
.filters .button:focus {
  color: var(--button-color);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards-element:nth-child(3n) {
  margin-right: 0;
}
.cards-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.cards-overlay {
  position: relative;
  overflow: hidden;
}
.cards-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(101%);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .cards-overlay-text,
.cards-link:focus .cards-overlay-text {
  transform: translateY(0%);
}

.cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* backdrop */
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  border-color: var(--accent-color);
  outline: none;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.btn-close-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-icon:hover,
.btn-close-icon:focus {
  transform: translate(-50%, -50%) scale(1.64);
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

.form-field {
  margin-bottom: 10px;
}
.form-field label,
.form-text label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  width: 100%;
  height: 40px;
  margin: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus,
.form-text textarea:focus {
  border-color: var(--accent-color);
}

.form-field input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  margin-bottom: 20px;
}

.form-text textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-fieldset {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.check-text,
.checkbox-rule {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox-rule {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.input-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.input-checkbox:hover + .check-text span,
.input-checkbox:focus + .check-text span {
  border-color: var(--accent-color);
}

.form-button {
  display: block;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background-color: #188ce8;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
